DATABASE_URL=
SESSION_ID=Prince~g5pCgKKI#iMhWV4Gv4dHJ88yywL6JO3ioZ6hiPsZUZAwW1-hvAaI
REMOVEBG_KEY=
PREFIX=.
MODE=public
STATUSVIEW=true
ANTI_LINK=true
REJECTSCALLS=false
REPLY_STATUS=true
antidelete=true
BOT_NAME=Prince
AutoReaction=false
OWNER_NUMBER=923092668108;PRINCE
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by prince

